p {
    color:rgb(0, 0, 0);
    font-family:arial;
}

h1 {
    color:white;
    font-family:arial;
}

h2 {
    background-color: orange;
}

.titulonombre{
    text-align:center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/321/383/non_2x/abstract-pink-background-pink-modern-shapes-background-vector.jpg");
    
}
